* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(63, 108, 231);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serifSS;
}

.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(48, 48, 48, 0.526);

}

a {
    font-weight: 600;
    color: rgb(155, 155, 255);
}

.leftContainer .newUser {
    font-weight: 600;
}

.leftContainer h2 {
    margin: 20px 0;
    font-size: 30px;
}

.leftContainer {
    float: left;
    position: relative;
    top: 30px;
    left: 40px;
}

.leftContainer .insHead {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease;
}

.insHead:hover {
    letter-spacing: 10px;
}

.leftContainer .Input {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px 0 10px 20px;
    width: 75%;
    border-radius: 40px;
    font-size: 18px;
}

.leftContainer input[type="checkbox"] {
    vertical-align: middle;
}

.leftContainer .agree {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    transition: 0.2s ease;
}

.leftContainer .agree:hover {
    color: red;
    transform: scale(2);
}

.leftContainer button {
    padding: 12px 40px;
    width: 75%;
    border: 0;
    outline: 0;
    background-color: rgb(68, 68, 189);
    color: #fff;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    background-color: rgb(63, 108, 231);
    width: 700px;
    z-index: -1;
    height: 80px;
    border-radius: 2%;
    bottom: 0.5%;
    right: 100%;
    transition: 2s;
}

button:hover {
    box-shadow: 6px 6px 20px 5px rgb(63, 108, 231);
    transform: scale(1.1);
}

button:hover::before {
    right: -2%;
}

.leftContainer,
.righContainer {
    width: 50%;
}

.righContainer {
    float: right;
}

img {
    margin-top: 40px;
    padding: 10px;
    position: relative;
    right: 10px;
    filter: saturate(1);
}